body{
    background-color: #fffbf7;
}
main {
    margin-top: 285px;
    text-align: center;
  }
.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    font-family: sans-serif;
    line-height: 45px;
    color: #025157;
}
h1{
    color: green;
}
h2{
    color: #025157;;
}
p{
    color: #8b8b8bcc;
}
button{
    color:#fff;
    background-color:#025157;
}

li{
    display: inline;
    margin: 0px 15px;
}

.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: green;
    
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    

}

.sign{
    color: #67b54b;
}

.free{
    border-radius: 5px;
    border: none;
    padding: 12px 14px;
    background-color: #67b54b;
}
.publicidad{
    margin-left: 20px;
}
.publicidad h3{
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img{
    width: 120px;
    margin-top: 10px;
}
.publicidad > p{
    font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px
}

.publicidad > form{
    display: flex;
}

.publicidad > form p{
    color: #025157;
  margin-right: 18px;
}
.promo-dos{
    background-color: #a1d683;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 896px;
}
.uno{
    width: 808px;
    height: 494px;
}
.uno img{
    width: 500px;
    height:140px;
}
.uno button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
}
.uno p{
    color: black;
}
 .uno h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
 }

 .dos{
     background-color: white;
     height: 660px;
     width: 352px;
     border-radius: 20px;
     position: relative;
     align-items: center;
     color: #828282;
 }
 .dos h4{
    font-family:Arial, Helvetica, sans-serif;
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    margin-left: 20px;
 }
 .dos h3{
     color: black;
     text-align: justify;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin: auto 20px;
}
.dos button{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 48px;
    font-weight: 600;
    width: 302px;
    margin: 25px;
}

.history{
    width: 352px;
    height: 268px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.circle{
    position: absolute;
    bottom: 360px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    width: 75px;
    height: 28px;
}
.icon{
    height: 26px;
    width: 26px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.features{
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    
}

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .features .feature-card .contenido {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  .features .feature-card .contenido > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .contenido img {
    width: 50px;
  }
  
  .features .feature-card .contenido h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .contenido p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .contenido a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  .features .feature-card .img-container {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .img-container figure,
  .features .feature-card .img-container img {
    margin-top: 0;
    height: 100%;
  }
  

.icon2{
    width: 50px;
    height: 50px;
}

.steps{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.promo-tres{
    text-align: center;
}
.promo-tres button{
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px 12px 6px 12px;
    height: 45px;
    margin-left: 0;
    border-radius: 8px;
    margin-top: 6px;
}
.promo-tres h1{
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    font-family: "Alegreya", serif;
    margin-bottom: 8px
}
.promo-tres h3{
    font-size: 30px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: bold;
    text-align: center;
}
.promote {
    height: 578px;
    width: 292px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 20px;
    text-align: left;
    align-items: center;
}
.promote a{
    font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.promote p{
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
}
.card-step-bg{
    position: relative;
    height: 350px;
    vertical-align: middle;
    width: 290px;
}

.card-step-icon{
    position: absolute;
    width: 21px;
    margin-top: 25px;
    margin-left: -270px;
}