body{
    background-color: #fffbf7;
}
main {
    margin-top: 285px;
    text-align: center;
  }
.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    font-family: sans-serif;
    line-height: 45px;
    color: #025157;
}
h1{
    color: green;
}
h2{
    color: blue;
}
p{
    color: #8b8b8bcc;
}
button{
    color:#fff;
    background-color:#025157;
}

li{
    display: inline;
    margin: 0px 15px;
}

.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: green;
    
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    

}

.sign{
    color: #67b54b;
}

.free{
    border-radius: 5px;
    border: none;
    padding: 12px 14px;
    background-color: #67b54b;
}
.publicidad{
    margin-left: 20px;
}
.publicidad h3{
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img{
    width: 120px;
    margin-top: 10px;
}
.publicidad > p{
    font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px
}

.publicidad > form{
    display: flex;
}

.publicidad > form p{
    color: #025157;
  margin-right: 18px;
}